

# Created by .ignore support plugin (hsz.mobi)

#文件夹干掉
/common/web/uploads
/.idea/
/common/web/uploads/
/backend/web/uploads/
/backend/runtime/
/frontend/runtime/*
/console/runtime/
/frontend/runtime/
#本地文件 不提交
/backend/config/main-local.php
/backend/config/main.php
/backend/config/params-local.php
/backend/config/test-local.php
/backend/web/index-test.php
/backend/web/index.php
/backend/web/*
/index.php
/common/config/main-local.php
/common/config/params-local.php
/common/config/params.php
/common/config/test-local.php
/console/config/main-local.php
/console/config/params-local.php
/frontend/config/main-local.php
/frontend/runtime/
/frontend/config/params-local.php
/frontend/config/test-local.php
/frontend/web/index-test.php
/frontend/web/index.php
/frontend/runtime/debug/
/console/shell/itenscen/
.htacceess
/backend/web/.htaccess
/common/web/uploads
/.gitignore

/backend/web/download/debtzib
/vendor/**/.git
/vendor/**/.gitignore




install
bin
pkg


yii
.idea
*.tmp

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.csv
*.log
*.pid
*.data
yii

*.DS_Store
/backend/.DS_Store
